<div class="d-flex">
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" class="form-check-inline" asp-page="/Account/Logout">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <span class="nav-link text-dark" style="color: darkcyan !important">Welcome @User.Identity.Name</span>
                </li>
                <li class="nav-item">
                    <button type="submit" class="nav-link text-dark" style="border: none; background: none;">Logout</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Login</a>
    }
</div>