@page
@model AspNetCoreSecurity.Pages.Account.LoginModel
@{
}

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <div class="col-2">
                <label class="form-label" asp-for="Credential.Username"></label>
            </div>
            <div class="col-5">
                <input class="form-control" type="text" asp-for="Credential.Username" />
            </div>
            <span class="text-danger" asp-validation-for="Credential.Username"></span>
        </div>
        <div class="mb-3">
            <div class="col-2">
                <label class="form-label" asp-for="Credential.Password"></label>
            </div>
            <div class="col-5">
                <input class="form-control" type="password" value="password" asp-for="Credential.Password" />
            </div>
            <span class="text-danger" asp-validation-for="Credential.Password"></span>
        </div>
        <div class="mb-3">
            <div class="col-2">
            </div>
            <div class="col-5">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
    </form>
</div>