@page
@model AspNetCoreSecurity.Pages.HumanResourcesModel
@{
    ViewData["Title"] = "HR";
}

<div class="text-center">
    <h1 class="display-4">Human Resources</h1>
    <p>Welcome to the HR Department.</p>
</div>
